<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>John Gardner Center</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/p7tmcoollines.css" />

  </head>

<img src="../images/JGC.gif" alt="John Gardner Center Logo" />

 <div id ="content">
		<div align="right">
			<table border="1">
				<tr>
					<td class="right">
						<%  hDisplay = false
							if(session[:user])
								hDisplay = true
								if(session[:user].admin)
									concat "<a href = user/welcomeAdminUser >Home </a>"
								else
									if(session[:user].affiliateOrg)
										concat "<a href = user/welcomeOrgUser >Home </a>"
									else
										concat "<a href = user/welcomeUser >Home </a>"
									end
								end
							end

						%>
						
						
					</td>
					<td class="right">
					<%
				  		if (session[:user])
							cDisplay = "logout"
				  		else
				    		cDisplay = "login"
				  		end
					%>
					<a href="/user/<%= cDisplay%>" ><%= cDisplay%> </a>
				</td>
			</tr>
			
			</table>
		</div>
	</div>
	  <div id ="content">
		<table border="1">
			<tr>
				<td class="centered">					
					<div>
					<a href="../index.html"> About Us </a>
					</div>
				</td>
				
				<td class="centered">
					<div>
					<a href="organizations">Organizations </a>
					</div>
				</td>
				<td class="centered">					
					<div>
					<a href="programs.html">After School Programs </a>
					</div>
				</td>
				<td class="centered">					
					<div>
					<a href="parents.html">Parents</a>
					</div></td>
				<td class="centered">					
					<div>
					<a class="p7currentmark" href="programdirectors.html">Program Director </a>
					</div></td>
				<td class="centered">					
					<div>
					<a href="user/search">Search </a>
					</div></td>
			</tr>
		</table>
			</div>
		<br>
		<br>
		
		<div id="loginbox">
			<div class="copy">
			<p> Please select an attribute from the drop down menu to browse activites. You can also use 
			    our <a href="user/searchActivities">Search </a> interface to find the activity you
				are looking for. </p>
			<hr style="color:#CCC"/>
				<div id = "content">
				<%= form_tag ({ :action=> "showActivitiesByPrograms" }, :class => "browse_by_activities", :id => "browse_by_activities" ) %>
				<%= select_tag(:program,"<option>-Select a program</option>" + options_for_select(@programs)) %>
				<%= hidden_field_tag 'type', 'programs'%>
				<%= submit_tag "Show" %>
			</div>
			</div>
			<br/>
			<br/>
			<%= link_to 'Back', :activities %>

		</div>


