<%= stylesheet_link_tag "pd_user" %>

<h2><%= @title %></h2>

<!-- Catch the errors and put the error messages on the screen. -->
<%= error_messages_for "pd_user" %>

<% form_for :spec do |form| %>
  <fieldset>  	
    <legend>Identity Info</legend>
	
    <%= error_messages_for 'spec' %>
	
	<!-- FIRST NAME -->
    <%= text_field_for form, "first_name" %>
	
	<!-- LAST NAME -->
    <%= text_field_for form, "last_name" %>
	
	<!-- GENDER -->	
    <div class="form_row">
      <label for="gender">Gender:</label>
      <%= radio_button :spec, :gender, "Male" %> Male  <%= radio_button :spec, :gender, "Female" %> Female
    </div>
	
	<!-- BIRTHDATE -->	
    <div class="form_row">
      <label for="birthdate">Birthdate :</label>
      <%= date_select :spec, :birthdate,
                             :start_year => Spec::START_YEAR,
                             :end_year => Time.now.year,
                             :include_blank => false,
                             :order => [:month, :day, :year] %>
    </div>
	
	<!-- OCCUPATION -->	
    <%= text_field_for form, "occupation" %>
	
	<!-- CURRENT EMPLOYEE -->
    <%= text_field_for form, "current_employee", Spec::CURR_EMPLOYEE_TEXT_LENGTH %>	
	
	<!-- AGE GROUP -->
    <div class="age_group">
      Age Group :
      <%= render :partial => "age_group_dropdown_menu" %>
    </div>			
	
	<!-- SUBMIT BUTTON -->	
    <%= submit_tag "Update", :class => "submit" %>
  </fieldset>
<% end %>

<% form_for :spec do |form| %>
  <fieldset>  	
    <legend>Contact Info</legend>
	
	<!-- CITY -->	
    <%= text_field_for form, "address" %>
	
	<!-- CITY -->	
    <%= text_field_for form, "city" %>
	
	<!-- STATE -->	
    <%= text_field_for form, "state" %>
	
	<!-- ZIP CODE -->
    <%= text_field_for form, "zip_code", Spec::ZIP_CODE_LENGTH %>	

	<!-- WORK PHONE -->	
    <%= text_field_for form, "work_phone" %>
	
	<!-- FAX -->	
    <%= text_field_for form, "fax" %>
	
	<!-- HOME PHONE -->	
    <%= text_field_for form, "home_phone" %>
	
	<!-- CELL PHONE -->	
    <%= text_field_for form, "cell_phone" %>
	
	<!-- SUBMIT BUTTON -->	
    <%= submit_tag "Update", :class => "submit" %>
  </fieldset>
<% end %>
