<%= stylesheet_link_tag "pd_user" %>
<%= stylesheet_link_tag "profile" %>

<h1>User Profile</h1>

<ul>
  <li><%= link_to "My Activites", :action => "pd_user_activities" %> | <%= link_to "Browse Activities", :controller => "activities"%> | <%= link_to "Create New Activity", :action => "new", :controller => "activities" %></li>
</ul>

<div id="left_column">
  <div class="sidebar_box">  	
    <h2>
      <span class="header">Basic Information</span>
	  
      <span class="edit_link">
        <%= link_to "[edit]", :action => "edit" %>
      </span>
	  
      <br clear="all" />
    </h2>
  
    <div class="sidebar_box_contents">
      <table>
        <tr>
          <td class="label">Login name :</td>
          <td><%= @pd_user.login_name %></td>
        </tr>
	  
        <tr>
          <td class="label">Email :</td>
          <td><%= @pd_user.email %></td>
        </tr>
		
        <tr>
          <td class="label">Password :</td>
          <td>********</td>
        </tr>
      </table>      	
    </div>
  </div>
  
  <div class="sidebar_box">
    <h2>
      <span class="header">Additional Information</span>
	  
      <span class="edit_link">
        <%= link_to "[edit]", :controller => "spec", :action => "edit" %>
      </span>
	  
      <br clear="all" />
    </h2>
	
    <div class="sidebar_box_contents">
      <table>
        <%= render :partial => "spec/field_row",
                   :collection => Spec::ALL_FIELDS %>
      </table>
    </div>
  </div>  
</div>
  
<!--div id="main_content">
  Empty right column, for now.
</div-->
<div id="main_content">
  <div id="full_name">
    <%= h @spec.full_name.or_else("Your Name") %>
  </div>
  
  <div id="occupation">
    <%= h @spec.occupation.or_else("Your Occupation") %>
  </div>
  
  <div id="location">
    <%= h @spec.location.or_else("Your Location") %>
  </div>
  
  <span class="edit_link">
    <%= link_to "(edit)", :controller => "spec", :action => "edit" %>
  </span>
  
  <hr noshade />
    Profile URL: <%= link_to profile_for(@pd_user), profile_for(@pd_user) %>
  <hr noshade />
    My Bio:
</div>  