<%= stylesheet_link_tag "pd_user" %>	

<h2>Log in</h2>

<!-- Catch the errors and put the error messages on the screen. -->
<%= error_messages_for "pd_user" %>

<% form_for :pd_user do |form| %>
  <fieldset>
    <legend>Enter Your Details</legend>
	
    <div class="form_row">
      <label for="screen_name">Login name:</label>
      <%= form.text_field :login_name,
                          :size => PDUser::LOGIN_NAME_SIZE,
                          :maxlength => PDUser::LOGIN_NAME_MAX_LENGTH %>
    </div>
	
    <div class="form_row">	
      <label for="password">Password:</label>
      <%= form.password_field :password,
                              :size => PDUser::PASSWORD_SIZE,
                              :maxlength => PDUser::PASSWORD_MAX_LENGTH %>
    </div>
	
    <div class="form_row">
      <%= submit_tag "Login", :class => "submit" %>
    </div>
  </fieldset>
<% end %>

<p>
  Do not have an account? <%= link_to "Register now!", :action => "register" %>
</p>