<div id="loginbox">
			<div class="copy">

        <b>Alphabetical List of Organizations:</b>
        <br>
        <% for letter in @alphabet%>
					<a href=<%="#"+letter%>><%=letter%></a>
        <%end%>
        <br />
        <br />
				<% @AlphabeticalList.each do |firstLetter, organizations|%>
          <a name = <%=firstLetter%> >
          <h1><%=firstLetter%></h1>
          </a>
          <%organizations = organizations.sort {|x,y| x.name <=> y.name }%>
          <% for organization in organizations %>
    				<%= link_to organization.name, :controller => "organizations", :action => "show", :id => organization.id %>			
				    <br/>
    				<br>
          <%end%>
          <br/>
        <%end%>
      
      </div>
</div>
