  <div id ="content">
	  <div align="right">
	  		<% if (session[:pd_user_id] != nil) -%>
          		<%= nav_link "Profile", "pd_user", "index" %> |
          		<%= nav_link "Logout", "pd_user", "logout" %>
        	<% else -%>
          		<%= nav_link "Register", "pd_user", "register" %> |
          		<%= nav_link "Login", "pd_user", "login" %>
        	<% end -%>	
		
      </div>
   </div> 

		<br>
		<br>
		
		<div id="loginbox">
			<div class="copy">
			<p> Please select an attribute from the drop down menu to browse activites. You can also use 
			    our <a href="/user/searchActivities">Search </a> interface to find the activity you
				are looking for. </p>
			<hr style="color:#CCC"/>
				<div id = "content">
				<%= form_tag({:action=> "showActivitiesByPrograms" }, :class => "browse_by_activities", :id => "browse_by_activities" , :method => "get") %>
				<%= select_tag(:program,"<option>-Select a program</option>" + options_for_select(@programs)) %>
				<%= hidden_field_tag 'type', 'programs'%>
				<%= submit_tag "Show" %>
			</div>
			</div>
			<br/>
			<br/>
			<%= link_to 'Back', :activities %>

		</div>


