 <head>
    <title>John Gardner Center</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/p7tmcoollines.css" />

  </head>
  <a target="_blank" id="feedback-tab" href="userComment"></a>
<%= error_messages_for 'user' %>

<h3>Change password</h3>

<%= form_tag :action => 'edit_profile' %>

<label for="user_password">Choose password:</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation">Confirm password:</label><br/>
<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>
<%= submit_tag "Submit", :name => 'password_button' %>

</form>


<h3>Change Mail Preferences</h3>

<%= form_tag :action => 'edit_profile' %>
	 
	
	 <%= check_box_tag("mailpref", '1', @user.mailpref) %> Uncheck the box if you don't want emails.	

	 </br>
	 
	 <%= submit_tag "Submit", :name => 'mailpref_button'%>
</form>

