
 <div id ="content">
	  <div align="right">
	  		<% if (session[:pd_user_id] != nil) -%>
          		<%= nav_link "Profile", "pd_user", "index" %> |
          		<%= nav_link "Logout", "pd_user", "logout" %>
        	<% else -%>
          		<%= nav_link "Register", "pd_user", "register" %> |
          		<%= nav_link "Login", "pd_user", "login" %>
        	<% end -%>	
		
      </div>
   </div> 

<br/>
<br/>
		
		<div id="loginbox">
			<div class="copy">
				<p> Please enter the text you want to search </p>
				<hr style="color:#CCC"/>
		  	
		  
		  		<%= form_tag :action=> "searchActivityResults" %>
				<div align="centered">
				<label for="input_text"></label><br/>
				
					
				<%= text_field "user", "text", :size => 40 %><br/>
				</div>
				<div align="centered">
				<%= submit_tag "Search" %>
				</div>
				</form>
			
			<hr style="color:#CCC"/>
			
			Your search for <b>"<%= @activityQuery %>"</b> returned <b><%= @results.total_hits %></b> hits.  In order of relevance, they are:
        <br/>
				<% for activity in @results %>
				  <br/>
    			<%= link_to activity.name, :controller => "activities", :action => "show", :id => activity.id %>		
				  <br>
				  Description: <%= activity.description %>
				<% end %>
				
			<table>
			<tr>

				<td class="left">
				<!-- Commenting out search by acts_as_ferret, for production -->	
				<p>Not sure what you are looking for?  You can try our <%= link_to "browsing through our activities databases", :controller => "activities"%> </a></p>
				</td>
			</tr>
			</table>
			</div>
			
		</div>	

