
		<br>
		<br>
		
		<div id="loginbox">
			<div class="copy">
				<p> Please enter the text you want to search </p>
				<hr style="color:#CCC"/>
		  	
		  
		  		<%= form_tag :action=> "searchResults" %>
				<div align="centered">
				<label for="input_text"></label><br/>
				
					
				<%= text_field "user", "text", :size => 40 %><br/>
				</div>
				<div align="centered">
				<%= submit_tag "Search" %>
				</div>
				</form>
			
			<hr style="color:#CCC"/>
			Total number of results: <%= @posts.total_hits %></p>
			<%for post in @posts %>
			<% if(post.visible)%>
			<%= post.highlight(@query,:field => :description, :num_excertps => 1,:pre_tag => "<strong>", :post_tag => "</strong>")%>
			<p><span id="organization_link_<%= post.id %>" class="popup_link"><%= link_to post.name, post %><br/></span></p>
		    <%= render :partial => 'organization_popup', :locals => {:organization => post} %>
		      About us :<%=post.description%><br/>
		      Go To    :<%=post.website%><br/>
			  Contact  :<%=post.email%> <br/><br/>
			<% end %>
			<% end%>
			</div>
			<hr style="color:#CCC"/>
			Have something more in mind, try our <a href="advancedSearch"> Advanced Search </a>
		</div>	















