
 <div id ="content">
	  <div align="right">
	  		<% if (session[:pd_user_id] != nil) -%>
          		<%= nav_link "Profile", "pd_user", "show_basic_info" %> |
          		<%= nav_link "Logout", "pd_user", "logout" %>
        	<% else -%>
          		<%= nav_link "Register", "pd_user", "register" %> |
          		<%= nav_link "Login", "pd_user", "login" %>
        	<% end -%>	
		
      </div>
   </div> 

<br/>
<br/>
		
		<div id="loginbox">
			<div class="copy">
				<p> Please enter the text you want to search </p>
				<hr style="color:#CCC"/>
		  	
		  
		  		<%= form_tag :action=> "searchActivityResults" %>
				<div align="centered">
				<label for="input_text"></label><br/>
				
					
				<%= text_field "user", "text", :size => 40 %><br/>
				</div>
				<div align="centered">
				<%= submit_tag "Search" %>
				</div>
				</form>
			
			<hr style="color:#CCC"/>
			<table>
			<tr>

				<td class="left">
				Total number of results: <%= @activityPosts.size()%></p>
				<%for activity in @activityPosts %>
					<%= activity.highlight(@activityQuery,:field => :description, :num_excertps => 1,:pre_tag => "<strong>", :post_tag => "</strong>")%>
	        		<p><span id="activities_link_<%= activity.id %>" class="popup_link"><%= link_to activity.name, activity %><br/></span></p>
					<%= render :partial => 'activities_popup', :locals => {:activities => activity} %>
				  	About : <%=activity.description%><br/>
				  	Category : <%=activity.category%><br/><br/>
				<% end%>
				</td>
			</tr>
			</table>
			</div>
			
		</div>	

