 <div id ="content">
	  <div align="right">
	  		<% if (session[:pd_user_id] != nil) -%>
          		<%= nav_link "Profile", "pd_user", "show_basic_info" %> |
          		<%= nav_link "Logout", "pd_user", "logout" %>
        	<% else -%>
          		<%= nav_link "Register", "pd_user", "register" %> |
          		<%= nav_link "Login", "pd_user", "login" %>
        	<% end -%>	
		
      </div>
   </div> 

<br/>
<br/>
  <div id="loginbox">
  	<div class="copy">
  		<%= @program %>
		<hr style="color:#CCC"/>
	</div>
	
		
		<table>
			<tr>
				<td class="left">
					<h3> Cost </h3>
					<% @statistic.costs.sort.each do  |key,value| %>
					<%= link_to " #{key}(#{value})", :action => "CostFilterOnProgram", :cost => "#{key}", :program => "#{@program}" %>
					
					<br/>
					<% end %>
					<h3> Duration </h3>
					
					<% @statistic.duration.sort.each do  |key,value| %>
					<%= link_to " #{key}(#{value})", :action => "DurationFilterOnProgram", :duration => "#{key}", :program => "#{@program}" %>

				
					<br/>
					<% end %>
					<h3> Age Group </h3>
					<% @statistic.age_group.sort.each do  |key,value| %>
					<%= link_to " #{key}(#{value})", :action => "AgeFilterOnProgram", :age => "#{key}", :program => "#{@program}" %>
					
					<br/>
					<% end %>
					
				</td>
			<div id ="content">
				<div class ="copy">
				<td class="left">
					Total number of results: <%= @activities.size() %></p>
					<br/>
				    <br/>
					<%for activity in @activities %>
					<%= link_to activity.name, activity %><br/>
					<%=activity.description%> <br/><br/>
					<% end%>
				</td>
			</tr>
			</div>
		</div>
	</table>
	
	

<%= link_to 'Back', :back %>

</div>
