
		<br>
		<br>

		<p>
     
	 <div id="content">
	 <hr style="color:#CCC"/>
	 <% tempUser = @userC %>
	 Welcome! <%= tempUser.login %>
	 
	 <br/>
	 <br/>
	 You are currently registered as an admin.
	 <br />
	 To export information about the organizations to the csv file click the button below	 
	<% form_tag({ :action =>  :export_to_csv })do -%>
       <%= submit_tag "Export To CSV" -%>
    <% end -%>
	 <br />
	 The organizations listed below haven't been approved. Please click on the organization 
	 to view its content. If you are satisfied with the content, click on approve to make
	 the content available publicly.	

	 <br/>
	 <br/>
	 There are <%= @organizations.size%> organizations waiting your approval
	 <table border="1">
	 <% for organization in @organizations %>
	 <tr>
	 	<td><b><%= link_to organization.name, organization %></b> <%= button_to 'Approve', :action => :approveOrg, :id => organization.id %></td>
	 </tr>
	 <% end %>
	 </table>
	 <br />
	 <br />

	 <br />
	 <br />
	<%= link_to ' Edit Profile ', :action => 'edit_profile' %>

	</p>
	
	</div>
	</body>
</html>
