
		<br>
		<br>

		<p>
     
	 <div id="content">
	 <hr style="color:#CCC"/>
	 <% tempUser = @userC %>
	 Welcome! <%= tempUser.login %>
	 <br/>
	 <br/>
	 You currently are not a part of any organization network. Please join a network by selecting an organization to which you belong from the drop menu.
	 <br />
	 <br />	
	 <%= form_tag :action=> "addOrg" %>
	 <%= collection_select(:organization, :id, @organizations, :id, :name, options ={:prompt => "-Select an organization"}, :class =>"organization") %>
	 <%= submit_tag "Join" %>
	 <br />
	 <br />
	 Couldn't find an organization you were looking for. Help us expand our network by 
	 registering your organization.
	 <br />
	 <br />
	 <%= link_to ' Create a New organization', new_organization_path %>

	 <br/>

	</p>
	
	</div>
	</body>
</html>
