<div id="loginbox">
			<div class="copy">
				<p> Please enter information for the new organization below </p>
				<hr style="color:#CCC"/>
		  	</div>
			
			<div id ="content">
				<div id ="content">
				<% form_for(@Neworganization) do |f| %>
			    <%= f.error_messages %>

  				<p>
				    <%= f.label :name %><br />
    				<%= f.text_field :name %>
  				</p>
  				<p>
    				<%= f.label :website %><br />
    				<%= f.text_field :website %>
  				</p>
  				<p>
    				<%= f.label :description %><br />
				    <%= f.text_area :description %>
  				</p>
  				<p>
			    <%= f.label :resources %><br />
    			<%= f.text_area :resources %>
  				</p>
  				<p>
    			<%= f.label :contact %><br />
    			<%= f.text_field :contact %>
  				</p>
  				<p>
    			<%= f.label :email %><br />
    			<%= f.text_field :email %>
  				</p>
  				
				<div id="partners">
				<p><label for="organization_partner_attribute_partner_org_id">Partners: </label><br/> 
				<br/> 
				<% for @partnerName in @partnerNames %>
				<%= h @partnerName %><%= button_to 'Remove', :action => :RemovePartner, :id => @org_id, :name => @partnerName %>
				<% end %>
				</p>
				</div>
				<%= link_to_function "Add a partner" do |page|
					page.insert_html :bottom, :partners, :partial => 'add_single_partner', :object => Partner.new
				end %>
  				
  				<p>
    			<%= f.submit "Update" %>
  				</p>
				<% end %>
			</div>
			<%= link_to 'Show', @Neworganization %> |
			<%= link_to 'Back', organizations_path %>		  
		</div>
	  
		





