<div id="loginbox">
			<div class="copy">
				<p> Please enter information for the new organization below </p>
				<hr style="color:#CCC"/>
		  	</div>
			
			<div id ="content">
				<%= form_tag :action=> "create" %>
				
				<%= error_messages_for 'Neworganization' %><br/>
				
				<label for="organization_name">Name</label><br/>
				<%= text_field "organization", "name", :size => 20 %><br/>
				
				<label for="organization_website">Website</label><br/>
				<%= text_field "organization", "website" %><br/>
				
				<label for="organization_description">Address</label><br/>
				<%= text_area "organization", "address" ,:rows => 5 %><br/>
				
				<label for="organization_description">Zipcode</label><br/>
				<%= text_area "organization", "zipcode" ,:rows => 5 %><br/>

				<label for="organization_description">Description</label><br/>
				<%= text_area "organization", "description" ,:rows => 5 %><br/>

				<label for="organization_resources">Resources</label><br/>
				<%= text_area "organization", "resources",:rows => 5 %> <br/>

				<label for="organization_contact">Contact</label><br/>
				<%= text_field "organization", "contact" %><br/>

				<label for="organization_email">Email</label><br/>
				<%= text_field "organization", "email" %><br/>
				<div id="partners">
				<p><label for="organization_partner_attribute__partner_org_id">Partners: </label><br/> 
				
				<%= render :partial => "add_partner" %>
				</p>
				</div>
				<%= link_to_function "Add a partner" do |page|
					page.insert_html :bottom, :partners, :partial => 'add_partner', :object => Partner.new
				end %>
				<br/> 
				<div id="asps">
				<label for="organization_asps">Programs</label><br/>
				<%= render :partial => 'add_asp' %>
				</div>
				<%= link_to_function "Add another after school program" do |page| 
					page.insert_html :bottom, :asps, :partial =>'add_asp', :object => Asp.new
				end %>
				<br/>
				<br/>
				<%= submit_tag "Create" %>
				
			</div>
			<%= link_to 'Back', :back %>
		</div>
