<p>
 	<%
	 if(@organization.visible)
		concat "This organization is publicly visible ."
	 else
		concat "The organization added by you is still in private mode . Please add the website and contact information, if you haven't  already done so for faster approval of content ."
     end
	%>
  <br />
  <br />
  <div id="loginbox">
  	<div class="copy">
  		<b> <%= @organization.name %></b>
  		<hr style="color:#CCC"/>
	</div>
	<div id ="content">
		<div class ="copy">
		<table border="1">
			<tr>
				<td class="left">
					<b>Name:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.name %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Website:</b>
					<br/>
					<br/>
				</td>
				
				<td class="left">
					<% website = @organization.website %>
					<a href= "<%=website%>" target="_blank"><%= website%></a>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Address:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.address %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Description:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.description %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Resources:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.resources %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Contact Information:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.contact %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Email:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<%=h @organization.email %>
					<br/>
					<br/>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Partner Organization:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<% for currentPartnerName in @partnerNames%>
					<%=h  currentPartnerName %>
					<br/>
					<% end %>
					<br/>
				<br/>
				</td>
			</tr>
						
			<tr>
				<td class="left">
					<b>Programs:</b>
					<br/>
					<br/>
				</td>
				<td class="left">
					<% for currentProgramName in @aspNames%>
					<%=h  currentProgramName %>
					<br/>
					<% end %>
				</td>
			</tr>
			
			<br/>						
		</table>
	</div>
</div>	
  

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', :back %>

</div>
