 <div id="loginbox">
  	<div class="copy">
  		<b> <%= @organization.name %></b>
  		<hr style="color:#CCC"/>
	</div>
	<div id ="content">
		<div class ="copy">
		<table border="1">
			<tr>
				<td class="left">
					<b>Name:</b>
				</td>
				<td class="left">
					<%=h @organization.name %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Website:</b>
				</td>
				<td class="left">
					<% website = @organization.website %>
					<a href= "<%=website%>" target="_blank"><%= website%></a>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>After School Programs:</b>
				</td>
				<td class="left">
					<%=h @organization.asp %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Description:</b>
				</td>
				<td class="left">
					<%=h @organization.description %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Resources:</b>
				</td>
				<td class="left">
					<%=h @organization.resources %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Contact Information:</b>
				</td>
				<td class="left">
					<%=h @organization.contact %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Partner Organization:</b>
				</td>
				<td class="left">
					<%=h @organization.partners %>
				</td>
			
			</tr>
									
		</table>
	</div>
</div>	

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', :back %>

</div>