<%= form_tag :action=> "save_activity_comment" %>
	<%= error_messages_for 'activity_comment' %><br/>
    <p> We appreciate the time you are taking to leave a comment</p> 
	<%= hidden_field_tag 'comment[activity_id]', @activity.id %>
	<label for="comment_comment_text">Comment :</label><br/>
  	<%= text_area "comment", "comment_text", :rows => 5 %><br/>

  	<label for="comment_email">Email* :</label><br/>
  	<%= text_field "comment", "email", :size => 20 %><br/>
				
	<%= submit_tag "Submit " %>
    

</form>
