<a target="_blank" id="feedback-tab" href="../user/userComment"></a>
<div id="loginbox">
			<div class="copy">
				<p> Please enter information for the new activity below </p>
				<hr style="color:#CCC"/>
		  	</div>
			
			<div id ="content">
				<%
				 	if(@pdUser)
						user = @pdUser.login_name
					else
						user = "No Name"
					end
				%>				
				
				<%= form_tag( { :action => "create" }, :class => "new_activities", :id => "new_activities" ) %>
				<%= error_messages_for 'activity' %><br/>
				<br/>
				<%= hidden_field_tag 'activity[created_by]', user %>

				

				<label for="activity_name">Name</label><br/>
				<%= text_field "activity", "name", :size => 20 %><br/>
				
				<br/>
				<label for="activity_description">Description</label><br/>
				<%= text_area "activity", "description" ,:rows => 5 %><br/>
				
				<br/>
				<label for="activity_address">Address</label><br/>
				<%= text_area "activity", "address" ,:rows => 1 %><br/>

				<br/>
				<label for="activity_resources">Resources</label><br/>
				<%= text_area "activity", "resources", :rows => 5 %><br/>
				
				<br/>
				
				<label for="activity_cost">Cost</label><br/>
				<%= render :partial => "add_cost" %>

				<br/>		
				<label for="activity_comments">PD Comments</label><br/>
				<%= text_area "activity", "comments",:rows => 5 %><br/>
				
				<br/>
				
				<label for="activity_duration">Duration</label><br/>
				<%= render :partial => "add_duration" %>
				
				<br/>
				<label for="activity_instructions">Instructions</label><br/>
				<%= text_area "activity", "instructions" ,:rows => 5%><br/>
				
				<br/>
				<div id="programs">
				<label for="activity_programs">Programs</label><br/>
				<%= render :partial => 'add_program' %>
				</div>
				<%= link_to_function "Add another program" do |page| 
					page.insert_html :bottom, :programs, :partial =>'add_program', :object => Program.new
				end %>
				<br/>
				<br/>
				
				<label for="activity_age_group">Age Group</label><br/>
				<%= render :partial => "add_age_group" %>
				
				
				<br/>
				<div id="categories">
				<label for="activity_category">Category</label><br/>
				<%= render :partial => 'add_category' %>
				
				</div>
				<%= link_to_function "Add another category" do |page| 
					page.insert_html :bottom, :categories, :partial =>'add_category', :object => Category.new
				end %>
				
				<br/>
				<br/>
				<%= submit_tag "Create" %>
				
			
			</div>
			<%= link_to 'Back', :back %>
			
</div>


