<a target="_blank" id="feedback-tab" href="../user/userComment"></a>
<div id="loginbox">
			<div class="copy">
				<p> Please enter information for the new activity below </p>
				<hr style="color:#CCC"/>
		  	</div>
			
			<div id ="content">
				<%
				 	if(@pdUser)
						user = @pdUser.login_name
					else
						user = "No Name"
					end
				%>				
				
				<%= form_tag( { :action => "create" }, :class => "new_activities", :id => "new_activities" ) %>
				<%= error_messages_for 'activity' %><br/>
				<br/>
				<%= hidden_field_tag 'activity[created_by]', user %>

				

				<label for="activity_name">Name</label><br/>
				<%= text_field "activity", "name", :size => 20 %><br/>
				
				<br/>
				<label for="activity_description">Description</label><br/>
				<%= text_area "activity", "description" ,:rows => 5 %><br/>

				<br/>
				<label for="activity_tags">Tags</label><br/>
				<%= text_field "activity", "taggedAs", :size => 20 %><br/>
				
				<br/>
				<label for="activity_address">Address</label><br/>
				<%= text_area "activity", "address" ,:rows => 1 %><br/>
				
				<br/>
				<label for="activity_cost">Cost</label><br/>
				<%= render :partial => "add_cost" %>
				
				<br/>
				<label for="activity_duration">Duration</label><br/>
				<%= render :partial => "add_duration" %>
				<br/>
				
				<label for="activity_age_group">Age Group</label><br/>
				<%= render :partial => "add_age_group" %>
				
				<%= submit_tag "Create" %>
				
			
			</div>
			<%= link_to 'Back', :back %>
			
</div>


