

<div class="title">
    <h1><%= @activity.name %><h1>
</div>

<div id="columns">

    <div id="left-column">
        <div id="profile-picture">
        </div>
        
        <div class="rating">
        </div>
        
        <div class="links">
            <ul>
                <li><a href="#">E-mail this</a></li>
                <li><a href="#">See photos</a></li>
                <li><a href="#">Add to favorites</a></li>
            </ul>
        </div>
        
    
    </div>

    <div id="right-column">
        <div class="section">
            <h2>Basic Info</h2>
        </div>
        
        <div class="section">
            <h2>Where & When</h2>
        </div>
        
        <div class="section">
            <h2>Resources & Costs</h2>
        </div>
    </div>
</div>

<div id="comments">

    <div class="comment-list">
        <% @comments.each do |comment| %>
            <div class="comment">
                <div class="comment-head">
                    <h3><%= comment.email %></h3>
                </div>
                <div class="comment-body">
                    <%= comment.comment_text %>
                </div>
            </div>
        <% end %>
    </div>
    
    <div class="comment-form">
        <% form_for :new_comment, @new_comment, :url => { :action => "save_activity_comment" } do |f| %>
            <%= f.hidden_field :activity_id, :value => "#{@activity.id}" %> 
            <%= f.text_field :email %>
            <%= f.text_field :comment_text %>
            <%= submit_tag 'Submit' %>
        <% end %>
    </div>
    
</div>
