<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <script src="http://maps.google.com/maps?file=api&v=1

            &key=ABQIAAAAGH0_v1huftqjN0P7bKEE1RTh4JSKb6ICin675p_ybbtjhoJD4xRJ2j7Xg5BommbMfWeFXq6R648kvg&sensor=false" type="text/javascript">

    </script>

  </head>

  <body>

<a target="_blank" id="feedback-tab" href="../user/userComment"></a>
  <div id="loginbox">
  	<div class="copy">
  		<b> <%= @activity.name %></b>
  		<div id="star-ratings-block">
		    <%= render :partial => "ratings/rating", :locals => { :activity => @activity } %>
		</div>
		<div align="right">
        <% if (session[:pd_user_id] != nil) -%>
		  <%= button_to 'Add as favorite', :action => :addActivityAsFavorite, :Pduser_id =>PdUser.find(session[:pd_user_id]).id ,:activitiy_id=>  @activity.id%></td>
		<% end -%>
  		<hr style="color:#CCC"/>
		</div>
	</div>
	<div id ="content">
		<div class ="copy">
		<table border="1">
			<tr>
				<td class="left">
					<b>Name:</b>
				</td>
				<td class="left">
					<%=h @activity.name %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Description:</b>
				</td>
				<td class="left">
					<%=h @activity.description %>
				</td>
			</tr>
			
      <tr>
				<td class="left">
					<b>Address:</b>
				</td>
				<td class="left">
					<a href="#map"><%=@activity.address%></a>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Resources:</b>
				</td>
				<td class="left">
					<%=h @activity.resources%>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Cost:</b>
				</td>
				<td class="left">
					<%=h @activity.cost %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Program Directors Comment:</b>
				</td>
				<td class="left">
					<%=h @activity.comments %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Duration:</b>
				</td>
				<td class="left">
					<%=h @activity.duration %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Instructions:</b>
				</td>
				<td class="left">
					<%=h @activity.instructions %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Programs Used In:</b>
				</td>
				<td class="left">
					<% for currentProgamName in @programNames%>
					<%=h  currentProgamName %>
					<br/>
					<% end %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Recommended Age Group:</b>
				</td>
				<td class="left">
					<%=h @activity.age_group %>
				</td>
			</tr>
			
			<tr>
				<td class="left">
					<b>Category:</b>
				</td>
				<td class="left">
					<% for currentCategoryName in @categoryNames %>
					<%=h   currentCategoryName %>
					<br/>
					<% end %>				
				</td>
			</tr>
			</table>
			</div>



<p>User comments:</p>

<% for comment in @comments %>
<%=h  comment.comment_text %>

<br/>
<i>by:</i><%= h comment.email %>
<br/>
<% if (session[:pd_user_id] != nil)%>
<%= link_to image_tag("../images/delete-icon.png",:size => "16x16", :alt => "Delete"), :action => "delete_activity_comment", :controller => "user", :commentId => "#{comment.id}", :activityId => "#{comment.activity_id}" %>
<% end %>
<br/>
<br/>
<% end %>
	
<p>Leave a comment: </p>
<div id="comments">
	<%= render :partial => 'leave_comment' %>
</div>  
<%= link_to 'Back', :back %>

</div>	


          <a name="map">
          <div id="map" style="width: 800px; height: 450px"></div>
          <script type="text/javascript">    

           var geocoder;
           var map;

           var restaurant = "The Old Mohawk Restaurant";
           var address = "<%=@activity.address%>";
           load();

           // On page load, call this function

           function load()
           {
              // Create new map object
              map = new GMap2(document.getElementById("map"));

              // Create new geocoding object
              geocoder = new GClientGeocoder();

              // Retrieve location information, pass it to addToMap()
              geocoder.getLocations(address, addToMap);
           }

           // This function adds the point to the map

           function addToMap(response)
           {
              // Retrieve the object
              place = response.Placemark[0];
              var city = place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.SubAdministrativeAreaName;
              var state = place.AddressDetails.Country.AdministrativeArea.AdministrativeAreaName;
              var zip = place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.PostalCode.PostalCodeNumber;
              //var streetAddress = place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.Thoroughfare.ThoroughfareName;


              // Retrieve the latitude and longitude
              point = new GLatLng(place.Point.coordinates[1],
                                  place.Point.coordinates[0]);

              // Center the map on this point
              map.setCenter(point, 13);

              // Create a marker
              marker = new GMarker(point);

              // Add the marker to map
              map.addOverlay(marker);

              // Add address information to marker
              marker.openInfoWindowHtml("<%=@activity.name%>" + '<br/>' + "<%=@activity.address%>");

           }      
          
          
          </script> 
          </a>
          

  </body>

</html>
