<a target="_blank" id="feedback-tab" href="../user/userComment"></a>
  <div id="loginbox">
  	<div class="copy">
  		<b> <%= @activity.name %></b>
  		<hr style="color:#CCC"/>
	</div>
	<div id ="content">
		<div class ="copy">
		<table border="1">
			<tr>
				<td class="left">
					<b>Name:</b>
				</td>
				<td class="left">
					<%=h @activity.name %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Description:</b>
				</td>
				<td class="left">
					<%=h @activity.description %>
					
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Resources:</b>
				</td>
				<td class="left">
					<%=h @activity.resources%>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Cost:</b>
				</td>
				<td class="left">
					<%=h @activity.cost %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Program Directors Comment:</b>
				</td>
				<td class="left">
					<%=h @activity.comments %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Duration:</b>
				</td>
				<td class="left">
					<%=h @activity.duration %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Instructions:</b>
				</td>
				<td class="left">
					<%=h @activity.instructions %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Programs Used In:</b>
				</td>
				<td class="left">
					<% for currentProgamName in @programNames%>
					<%=h  currentProgamName %>
					<br/>
					<% end %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Recommended Age Group:</b>
				</td>
				<td class="left">
					<%=h @activity.age_group %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Category:</b>
				</td>
				<td class="left">
					<% for currentCategoryName in @categoryNames %>
					<%=h   currentCategoryName %>
					<br/>
					<% end %>				
				</td>
			</tr>
			</table>
			</div>

<p>User comments:</p>

<% for comment in @comments %>
<%=h  comment.comment_text %>

<br/>
<i>by:</i><%= h comment.email %>
<br/>
<% if (session[:pd_user_id] != nil)%>
<%= link_to image_tag("../images/delete-icon.png",:size => "16x16", :alt => "Delete"), :action => "delete_activity_comment", :controller => "user", :commentId => "#{comment.id}", :activityId => "#{comment.activity_id}" %>
<% end %>
<br/>
<br/>
<% end %>
	
<p>Leave a comment: </p>
<div id="comments">
	<%= render :partial => 'leave_comment' %>
</div>  
<%= link_to 'Back', :back %>

</div>	