
  <head>
    <title> Activity - <%=@activity.name%></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/p7tmcoollines.css" />

  </head>
<a target="_blank" id="feedback-tab" href="../user/userComment"></a>  
  <img src="../images/JGC.gif" alt="John Gardner Center Logo" />
  
  
  <div id ="content">
		<div align="right">
			<table border="1">
				<tr>
					<td class="right">
						<%  hDisplay = false
							if(session[:user] && session[:user].admin && session[:user].affiliateOrg)
								concat "<a href = ../../user/welcomeAdminUser >Home </a>"
							end
							if(session[:user] && session[:user].admin && !session[:user].affiliateOrg)
								concat "<a href = ../../user/welcomeUser >Home </a>"
							end
							if(session[:user] && !session[:user].admin && session[:user].affiliateOrg)
								
								concat "<a href = ../../user/welcomeOrgUser >Home </a>"
							end
							if(session[:user] && !session[:user].admin && !session[:user].affiliateOrg)
								concat "<a href = ../../user/welcomeUser >Home </a>"
							end
							
						%>
						
						
					</td>
					<td class="right">
					<%
				  		if (session[:user])
							cDisplay = "logout"
				  		else
				    		cDisplay = "login"
				  		end
					%>
					<a href="/user/<%= cDisplay%>" ><%= cDisplay%> </a>
				</td>
			</tr>
			
			</table>
		</div>
	</div>
	<div id ="content">
		<table border="1">
			<tr>
				<td class="centered">					
					<div>
					<a href="../index.html"> About Us </a>
					</div>
				</td>
				
				<td class="centered">
					<div>
					<a href="../organizations">Organizations </a>
					</div>
				</td>
				<td class="centered">					
					<div>
					<a href="../programs.html">After School Programs </a>
					</div>
				</td>
				<td class="centered">					
					<div>
					<a href="../parents.html">Parents</a>
					</div></td>
				<td class="centered">					
					<div>
					<a href="../programdirectors.html">Program Director </a>
					</div></td>
				<td class="centered">					
					<div>
					<a href="../user/search">Search </a>
					</div></td>
			</tr>
		</table>
			</div>
		<br>
		<br>

<p>


  <div id="loginbox">
  	<div class="copy">
  		<b> <%= @activity.name %></b>
  		<hr style="color:#CCC"/>
	</div>
	<div id ="content">
		<div class ="copy">
		<table border="1">
			<tr>
				<td class="left">
					<b>Name:</b>
				</td>
				<td class="left">
					<%=h @activity.name %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Description:</b>
				</td>
				<td class="left">
					<%=h @activity.description %>
					
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Resources:</b>
				</td>
				<td class="left">
					<%=h @activity.resources%>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Cost:</b>
				</td>
				<td class="left">
					<%=h @activity.cost %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Program Directors Comment:</b>
				</td>
				<td class="left">
					<%=h @activity.comments %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Estimated Duration:</b>
				</td>
				<td class="left">
					<%=h @activity.duration %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Instructions:</b>
				</td>
				<td class="left">
					<%=h @activity.instructions %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Programs Used In:</b>
				</td>
				<td class="left">
					<% for currentProgamName in @programNames%>
					<%=h  currentProgamName %>
					<br/>
					<% end %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Recommended Age Group:</b>
				</td>
				<td class="left">
					<%=h @activity.age_group %>
				</td>
			
			</tr>
			
			<tr>
				<td class="left">
					<b>Category:</b>
				</td>
				<td class="left">
					<% for currentCategoryName in @categoryNames %>
					<%=h   currentCategoryName %>
					<br/>
					<% end %>				
					</td>
			
			</tr>
			
									
		</table>
	</div>
</div>	
  
<%= link_to 'Back', :back %>


