

<div id="title">
	<h1><%= @activity.name %></h1>
</div>

<div id="content_area">

<div id="columns">
    <div id="left_column">
        <div id="profile_picture">
            <img src="/images/activities/child.jpg" width="200px" alt="profile_picture">
        </div>
        <div id="toolbox">
            <ul id="toolbox_icons">
                <li><img src="/images/activities/rating_icon.png" alt="rating_icon"></li>
                <li><img src="/images/activities/email_icon.png" alt="rating_icon"></li>
                <li><img src="/images/activities/album_icon.png" alt="rating_icon"></li>
                <li><img src="/images/activities/album_icon.png" alt="rating_icon"></li>
                <li><img src="/images/activities/favorites_icon.png" alt="rating_icon"></li>
            </ul>
            <div id="toolbox_links">
                <p>rating:
                    <img src="/images/activities/star_filled.png" alt="star"><img src="/images/activities/star_filled.png" alt="star"><img src="/images/activities/star_filled.png" alt="star"><img src="/images/activities/star_empty.png" alt="star"><img src="/images/activities/star_empty.png" alt="star">
                </p>
                <p><a href="#">email this activity</a></p>
                <p><a href="#">view photo albums</a></p>
                <p><a href="#">add photos</a></p>
                <p><a href="#">add to my favorites</a></p>
            </div>
        </div>
    </div>				
    <div id="right_column">
    
        
        <% form_for :activity, @activity, :url => activity_path(@activity), :html => { :id => 'activity_form' } do |f| %>
    
        <div class="section">
            <div class="section_title">
                <h2>Basic Info</h2>
                <span>(<a href="javascript:onBasicInfoEdit();">edit</a>)</span>
            </div>
            <table class="noneditable" id="basic_info">
                <tr>
                    <td class="table_grey">
                        <p>Name:</p>
                    </td>
                    <td>
                        <p><%= f.text_field :name, :value => @activity.name, :readonly => "readonly" %> </p>
                    </td>
                </tr>
                <tr>
                    <td class="table_grey">
                        <p>Description:</p>
                    </td>
                    <td>
                        <p><%= @activity.description %></p>
                    </td>
                </tr>
                <tr>
                    <td class="table_grey">
                        <p>Tagged as:</p>
                    </td>
                    <td>
                        <p><%= @activity.tags.collect { |t| t.name }.join(',') %></p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <div class="section_title">
                <h2>Where & When</h2>
                <span>(<a href="#">edit</a>)</span>
            </div>
            <table>
                <tr>
                    <td class="table_grey">
                        <p>Location:</p>
                    </td>
                    <td>
                        <p>
                            <%= @activity.address %> (<a href="#">map</a>)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="table_grey">
                        <p>Weekly Times:</p>
                    </td>
                    <td>
                        <p>
                            Tuesdays and Thursdays, March-June (<a href="#">add to my calendar</a>)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="table_grey">
                        <p>Hours:</p>
                    </td>
                    <td>
                        <p>10AM-2PM</p>
                    </td>
                </tr>
            </table>
        </div>
        
        <% end %>
    <div class="section">
            <div class="section_title">
                <h2>Resources & Costs</h2>
                <span>(<a href="#">edit</a>)</span>
            </div>
            <table>
                <tr>
                    <td class="table_grey">
                        <p>Total Cost:</p>
                    </td>
                    <td>
                        <p>
                            <%= @activity.cost %>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="table_grey">
                        <p>Required Materials:</p>
                    </td>
                    <td>
                        <p>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <div class="section_title">
                <h2>Map</h2>
                <span>(<a href="#">edit</a>)</span>
            </div>
            <div id="google_map">
                <!-- google code goes here -->
            </div>
        </div>
    </div>
</div>
<div id="comments">
    <h2>user comments (<%= @activity.activities_comments.size %>)</h2>
    
    <% @activity.activities_comments.each do |comment| %>
    <div class="comment_wrapper">
        <div class="comment_box">
            <p>
                <%= comment.comment_text %>
            </p>
        </div>
        <div class="comment_data">
            <div class="username">
                <% email_tokens = comment.email.split('@') %>
                <span class="user_black"><%= email_tokens[0] %></span>
                <span class="user_grey">@<%= email_tokens[1] %></span>
            </div>
            <div class="time_and_date">
                <% date_tokens = comment.created_at.to_s.split(' ') %>
                <span class="user_grey"><%= date_tokens[0] %></span>
                <span class="user_black"><%= date_tokens[1] %></span>
                <span class="user_grey"><%= date_tokens[2] %></span>
            </div>
        </div>
    </div>
    <% end %>
    
    <% if session[:user] %>
    
    <% form_for :new_comment, @new_comment, :html => { :id => 'comment_form' }, :url => { :action => 'save_activity_comment' } do |f| %>
    <%= f.hidden_field :activity_id, :value => @activity.id %> 
    <%= f.hidden_field :email, :value => session[:user].email %>
    
    <div id="personal_comment">
        <h2>leave your own comment:</h2>
    </div>
    <div class="comment_wrapper">
        <div class="comment_box_empty">
            <%= f.text_area :comment_text, :rows => "10", :cols => "70", :onclick=> "return false;" %>
        </div>
        <div class="comment_data_empty">
            <div class="username">
                <span class="user_black">your_email</span>
                <span class="user_grey">@email.com</span>
            </div>
            <div class="time_and_date">
                <div id="comment_button">
                    <a href="javascript:onCommentSubmit();">leave comment</a>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    
    <% end %>
</div>

</div>
