<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
       	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
   <%= stylesheet_link_tag "user" %>
   <%= stylesheet_link_tag "style" %>
   <%= stylesheet_link_tag "p7tmcoollines" %>
   <title><%= @title_description %></title>
   
   <%= javascript_include_tag :defaults %>	
  </head>
    
  <body>
    <img src="../images/JGC.gif" alt="John Gardner Center Logo" />
	<div id ="content">
		<div align="right">
				<a href="user">Login </a>
		</div>
	</div>	
	<hr/>		
	
    <div id="content">
	              
		<table border="1">
              <td class="centered">
              	<div>				
   	              <a href="../index.html"> About Us </a>
				</div>
			  </td>
			  
              <td class="centered">
                <div id="nav">
                  <%= link_to_unless_current("Organizations",   { :action => "organizations" }) %>
                </div>
			  </td>
			  
              <td class="centered">
              	<div>				
                  <a href="../programs.html">After School Programs </a>
				</div>
			  </td>
			  
              <td class="centered">
              	<div>				
         	      <a href="../parents.html">Parents</a>
				</div>
			  </td>
			  
              <td class="centered">
              	<div>				
     		      <a href="../programdirectors.html">Program Director </a>
				</div>
			  </td>

              <td class="centered">
                <div id="nav">
                  <%= link_to_unless_current("Search",          { :controller => "user", :action => "search"  }) %>
                </div>
			  </td>
		</table>
       <br/>
    </div>  
	  
            
    <div id="main_content">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
		
      <%= @content_for_layout %>
    </div>  
	  
      <!-- D E B U G G I N G -->	  
      <% if ENV["RAILS_ENV"] == "development" %>
        <%= debug(params) %>
      <% end %>
	  	  
    </div>
  </body>
        
</html>
