<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
           
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
   <%= stylesheet_link_tag "user" %>
   <%= stylesheet_link_tag "style" %>
   <%= stylesheet_link_tag "p7tmcoollines" %>
   <title><%= @title_description %></title>
   
   <%= javascript_include_tag :defaults %>
  </head>
    
  <body>
    <img src="/images/JGC.gif" alt="John Gardner Center Logo" />
	
    <!--div id ="content"-->
      <table border="1">
        <td class="right">
          <% if (logged_in?) -%>
            <%= nav_link "My Activites", "pd_user", "pd_user_activities" %> | 
            <%= nav_link "Browse Activities", "activities"%> | 
            <%= nav_link "Create New Activity", "activities", "new" %>
          <% end -%>        
        </td>
					
        <td class="left">
          <% if (logged_in?) -%>
            <%= nav_link "Community", "community", "index" %> |
            <%= nav_link "Profile", "pd_user", "index" %> |
            <%= nav_link "Logout", "pd_user", "logout" %>
          <% else -%>
            <%= nav_link "Program Director Register", "pd_user", "register" %> |
            <%= nav_link "Program Director Login", "pd_user", "login" %>
          <% end -%>        
        </td>
      </table>

    <hr/>    
  
    <div id="content">                
      <table border="1">
        <td class="centered">
          <div>        
            <a href="/index.html"> About Us </a>
          </div>
        </td>
        
        <td class="centered">
          <div id="nav">
            <%= nav_link_controller "Organizations", "organizations" %>
          </div>
        </td>
        
        <td class="centered">
          <div id="nav">
            <%= nav_link_controller "After School Activities", "activities" %>
          </div>       
        </td>
        
        <td class="centered">
          <div>        
            <a href="/parents.html">Parents</a>
          </div>
        </td>
        
        <td class="centered">
          <div id="nav">
            <%= nav_link_controller "Program Directors", "pd_user" %>
          </div
        </td>

        <td class="centered">
          <div id="nav">
            <%= nav_link_controller "Teachers", "pd_user" %>
          </div
        </td>

        <td class="centered">
          <div id="nav">
            <%= nav_link "Search", "user", "search" %>
          </div>
        </td>
        
      </table>
      <br/>
    </div>  
    
            
    <div id="main_content">
      <% if flash[:user_notification] -%>
        <div id="notice"><%= flash[:user_notification] %></div>
      <% end -%>
    
      <% if flash[:error] -%>
        <div id="notice"><%= flash[:error] %></div>
      <% end -%>
	
      <%= @content_for_layout %>

      <!-- Add an empty line -->	  
      <br clear="all" />      
    </div>     
    
    <!-- D E B U G G I N G -->    
    <% if ENV["RAILS_ENV"] == "development" %>
      <div id="debug">          
        <a href="#" onclick="Element.toggle('params_debug_info');return false">params</a> |
        <a href="#" onclick="Element.toggle('session_debug_info');return false">session</a> |
        <a href="#" onclick="Element.toggle('env_debug_info');return false">env</a> |
        <a href="#" onclick="Element.toggle('request_debug_info');return false">request</a>      
        
        <fieldset id="params_debug_info" class="debug_info" style="display:none">
          <legend>params</legend>
          <%= debug(params) %>
        </fieldset>
      
        <fieldset id="session_debug_info" class="debug_info" style="display:none">
          <legend>session</legend>
          <%= debug(session) %>
        </fieldset>
        
        <fieldset id="env_debug_info" class="debug_info" style="display: none">
          <legend>env</legend>
          <%= debug(request.env) %>
        </fieldset>
        
        <fieldset id="request_debug_info" class="debug_info" style="display: none">
          <legend>request</legend>
          <%= debug(request) %>
        </fieldset>
      </div>
    <% end %>          
  
  </body>
        
</html>
